{
  "TOKEN": "",
  "YOUTUBE_API_KEY": "",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": false,
  "WARNING_FORMAT": "DD/mm/YYYY-hh:mm",
  "WARNING_TABLE": "warning",
  "AWS_REGION": "us-east-2",
  "WARNING_MAXIMUM_SIZE": 20,
  "RECEIVER_CRONER": ""
}
